.ks{
    background-color: yellow;
}
.sharuk{
    background-color: burlywood;
}
.modi{
    background-color: rebeccapurple;
}
.alia{
    background-color: lightblue;
}
#abc{
    background-color: lightgreen;
}